{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            {{ post.text|linebreaksbr }}

            {% if post.published_date %}
                <div class="date">
                    [<strong>{{ post.author }}</strong>] -- published: {{ post.published_date }}
                </div>

                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
